<section id="my-timeline" class="section clearfix">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="timeline">
                    <div class="timeline-inner">
                        <div class="single-main ">
                            <div class="single-timeline">
                                <div class="single-content">
                                    <div class="date">
                                        <p>2018</p>
                                    </div>
                                    <h2>faculty of Computer and Informations </h2>
                                    <p> From <span> 2014</span>  to <span>2018 </span>   <i class="fa fa-arrow-right"></i>
                                        I gradute from fucalty of computer and information from Assuit University ,
                                        Department of Information System.
                                    <p>
                                </div>
                            </div>
                        </div>
                        <div class="single-main">
                            <div class="single-timeline">
                                <div class="single-content">
                                    <div class="date">
                                        <p>2018</p>
                                    </div>
                                    <h2>faculty Graduation project</h2>
                                   <p> From <span> 2017</span>  to <span>2018 </span>   <i class="fa fa-arrow-right"></i>
                                    South Egypt Cancer Institute Web Application System
                                    <p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Timeline -->
