<header class="header">
    <div class="overlay">
      <div class="datails"> 
          <h1>Ahmed Nour Eldeen</h1>
          <div>
              <div>
                <i class="fa fa-map-marker"></i>
                <span>Giza</span>
              </div>
          <div>
            <i class="fa fa-phone"></i>
            <span>01114151708</span>
          </div>
            <div>
                <i class="fa fa-envelope"></i>
                <span>ahmednoureldeen001@gmail.com</span>
            </div>
          
          </div>

          <p>
            To obtain a position of responsibilities that utilizes my skills in FrontEnd developement <br> and experience and keen 
            to work in an environment where i can enrich my knowledge.
            
          </p>
     
          <ul>
              <li>
                  <a target="_blank" href="https://www.facebook.com/ahmedsallah797"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                  <a  target="_blank" href="https://twitter.com/ahmed_nour_11" ><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a target="_blank"  href="https://www.linkedin.com/in/ahmed-nour-8bb0341a1/" ><i class="fa fa-linkedin"></i></a>
              </li>
              <li>
                <a  target="_blank" href="https://www.instagram.com/ahmed.nour_11/" ><i class="fa fa-instagram"></i></a>
              </li>
          </ul>

      </div>
           
        </div>
</header> 