<section class="projectPage">
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="item">
                <div class="box box7">
                    <div class="overlay">
                        <div class="inner-title">
                            <p><span>Marketing  </span> Project</p>
                            <h2>
                                Tagosyl
                            </h2>
                            <p class="detail"> html5, css3, jquery, Google From </p>
                        </div>
                    </div>
                    </div>
                    <div class="footer">
                       <h4>Marketing Project<span>  <i class="fa fa-arrow-right"></i> </span>
                       <a (click)="box7Click()"> <i class="fa fa-link"></i> </a> </h4>
                    </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="item">
                <div class="box box1">
                    <div class="overlay">
                        <div class="inner-title">
                            <p><span>Angular</span> Project</p>
                            <h2>
                                Online Shop
                            </h2>
                            <p class="detail">angular 8, html5, css3, bootstrap, jquery, firebase </p>
                        </div>
                    </div>
                    </div>
                    <div class="footer">
                       <h4>Angular Project<span>  <i class="fa fa-arrow-right"></i> </span>
                       <a (click)="box1Click()"> <i class="fa fa-link"></i> </a> </h4>
                    </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="item">
                <div class="box box2">
                    <div class="overlay">
                        <div class="inner-title">
                            <p><span>Angular</span> Project</p>
                            <h2>
                                Portfolio
                            </h2>
                            <p class="detail">angular 8, html5, css3, bootstrap, jquery </p>
                        </div>
                    </div>
                    </div>
                    <div class="footer">
                       <h4>Angular Project<span>  <i class="fa fa-arrow-right"></i> </span>
                       <a (click)="box2Click()"> <i class="fa fa-link"></i> </a> </h4>
                    </div>
            </div>
            
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="item">
                <div class="box box3">
                    <div class="overlay">
                        <div class="inner-title">
                            <p><span>React js</span> Project</p>
                            <h2>
                                Ecommerce 
                            </h2>
                            <p class="detail">React js, React redux, html5, css3, bootstrap, jquery</p>
                        </div>
                    </div>
                    </div>
                    <div class="footer">
                       <h4>React Js Project<span>  <i class="fa fa-arrow-right"></i> </span>
                       <a (click)="box3Click()"> <i class="fa fa-link"></i> </a> </h4>
                    </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="item">
                <div class="box box4">
                    <div class="overlay">
                        <div class="inner-title">
                            <p><span>Design</span> Project</p>
                            <h2>
                                Template 
                            </h2>
                            <p class="detail"> html5, css3, bootstrap, jquery, JavaScript</p>
                        </div>
                    </div>
                    </div>
                    <div class="footer">
                       <h4>Design Project<span>  <i class="fa fa-arrow-right"></i> </span>
                       <a (click)="box4Click()"> <i class="fa fa-link"></i> </a> </h4>
                    </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="item">
                <div class="box box5">
                    <div class="overlay">
                        <div class="inner-title">
                            <p><span>Design</span> Project</p>
                            <h2>
                                Template 
                            </h2>
                            <p class="detail"> html5, css3, bootstrap, jquery, JavaScript</p>
                        </div>
                    </div>
                    </div>
                    <div class="footer">
                       <h4>Design Project<span>  <i class="fa fa-arrow-right"></i> </span>
                       <a (click)="box5Click()"> <i class="fa fa-link"></i> </a> </h4>
                    </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="item">
                <div class="box box6">
                    <div class="overlay">
                        <div class="inner-title">
                            <p><span>Design</span> Project</p>
                            <h2>
                                Template 
                            </h2>
                            <p class="detail"> html5, css3, bootstrap, jquery, JavaScript</p>
                        </div>
                    </div>
                    </div>
                    <div class="footer">
                       <h4>Design Project<span>  <i class="fa fa-arrow-right"></i> </span>
                       <a (click)="box6Click()"> <i class="fa fa-link"></i> </a> </h4>
                    </div>
            </div>
        </div>
    </div>
    <br><br>
</div>
</section>


 