<section class="skillPage">
<div class="container">
    <h1 class="title-skills">Technical Skills</h1>
    <div class="bar">
      <div class="skill">HTML5 & CSS & CSS3</div>
      <div class="bar-outer">
        <div class="speech-bubble html">90%</div>
        <div class="bar-inner ht"></div>
      </div>
    </div>
    <div class="bar">
      <div class="skill">JavaScript</div>
      <div class="bar-outer">
        <div class="speech-bubble java">85%</div>
        <div class="bar-inner js"></div>
      </div>
    </div>
    <div class="bar">
        <div class="skill">jQuery</div>
        <div class="bar-outer">
          <div class="speech-bubble jquery">80%</div>
          <div class="bar-inner jq"></div>
        </div>
      </div>
      <div class="bar">
        <div class="skill">Type Script</div>
        <div class="bar-outer">
          <div class="speech-bubble typescript">85%</div>
          <div class="bar-inner ts"></div>
        </div>
      </div>
    <div class="bar">
      <div class="skill">bootstrap</div>
      <div class="bar-outer">
        <div class="speech-bubble bootstrap">80%</div>
        <div class="bar-inner bt"></div>
      </div>
    </div>
    <div class="bar">
      <div class="skill">Git</div>
      <div class="bar-outer">
        <div class="speech-bubble git">75%</div>
        <div class="bar-inner gt"></div>
      </div>
    </div>
    <div class="bar">
      <div class="skill">Angular +6 </div>
      <div class="bar-outer">
        <div class="speech-bubble angular">87%</div>
        <div class="bar-inner an"></div>
      </div>
    </div>
    <div class="bar">
      <div class="skill">React Js</div>
      <div class="bar-outer">
        <div class="speech-bubble react">80%</div>
        <div class="bar-inner rc"></div>
      </div>
    </div>
    
    <h1 class="title-skills">Personal Skills</h1>
    <div class="bar">
      <div class="skill">Communication Skills</div>
      <div class="bar-outer">
        <div class="speech-bubble com">92%</div>
        <div class="bar-inner cm"></div>
      </div>
    </div>
    <div class="bar">
      <div class="skill">Presentation Skills</div>
      <div class="bar-outer">
        <div class="speech-bubble pres">90%</div>
        <div class="bar-inner pr"></div>
      </div>
    </div>
    <div class="bar">
      <div class="skill">Time Control</div>
      <div class="bar-outer">
        <div class="speech-bubble timec">90%</div>
        <div class="bar-inner tm"></div>
      </div>
    </div>
    <div class="bar">
      <div class="skill">Team work</div>
      <div class="bar-outer">
        <div class="speech-bubble team">95%</div>
        <div class="bar-inner tw"></div>
      </div>
    </div>
 
    <h1 class="title-skills">Language Skills</h1>
    <div class="bar">
      <div class="skill">Arabic</div>
      <div class="bar-outer">
        <div class="speech-bubble arabic">100%</div>
        <div class="bar-inner ar"></div>
      </div>
    </div>
    <div class="bar">
      <div class="skill">english</div>
      <div class="bar-outer">
        <div class="speech-bubble english">85%</div>
        <div class="bar-inner en"></div>
      </div>
    </div>
  </div>
</section>